node_modules
dist
dist-ssr
*.local
.vite
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.vscode/*
!.vscode/extensions.json
.idea
dev-dist
tsconfig.*.tsbuildinfo
